<%= form_for(@message_hashtag) do |f| %>
  <% if @message_hashtag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_hashtag.errors.count, "error") %> prohibited this message_hashtag from being saved:</h2>

      <ul>
      <% @message_hashtag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message_id %><br>
    <%= f.number_field :message_id %>
  </div>
  <div class="field">
    <%= f.label :hashtag_id %><br>
    <%= f.number_field :hashtag_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
